@model SA_OOP.Models.Procedimento

@{
    ViewData["Title"] = "Cadastrar Procedimentos";
}

<h4>Cadastro de Procedimento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeProcedimento" class="control-label"></label>
                <input asp-for="NomeProcedimento" class="form-control" />
                <span asp-validation-for="NomeProcedimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" id="valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Excecao" class="control-label"></label>
                <input id="inputExcecao" asp-for="Excecao" class="form-control" />
                <span asp-validation-for="Excecao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

@*<script>
    $(document).ready(() => {
        $("#valor").validate({
            //for debug only
            debug: true,
            rules: {
                field: {
                    required: true,
                    pattern: /^(\d+|\d+,\d{1,2})$/
                }
            },
            messages: {
                field: {
                    pattern: 'Please use the proper pattern'
                }
            }
        });
    })
</script>*@
